body {
    width: 90%;
    margin: 5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
    background-size: 100%;
    background-attachment: fixed;
    text-align: left;
    /* display: flexbox; */
    font-size: 100%;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    color: black;
    margin: 5%;
}

h2 {
    text-transform: uppercase;
    text-align: left;
    color: black;
    font-size: larger;
    margin-bottom: 3%;
}

h3 {
    text-transform: uppercase;
    text-align: left;
    color: black;
    margin-top: 2%;
}

h4 {
    margin-top: 5%;
    text-transform: uppercase;
    text-align: left;
    color: black;
}

p {
    color: black;
    width: 100%;
    margin-left: 2%;
    text-align: left;
    background-color: white;
}

footer {
    border-top: black 2px solid;
    margin-top: 10%;
    margin-bottom: 0%;
    padding: 2%;
    padding-top: 3%;
    text-align: left;
}

footer>a>img {
    height: 50px;
    width: 50px;
    margin-right: 2%;
}

h1 img {
    margin: auto;
    width: 40%;
}

hr {
    border-top: 2px solid black;
    margin-top: 5%;
    margin-bottom: 5%;
}

div img {
    margin: auto;
    margin-top: 5%;
    width: 70%;
    height: auto;
    border: 2px solid white;
}

label {
    float: left;
    background-color: white;
    color: black;
    margin-bottom: 2%;
    margin-left: 2%;
    font-size: 100%;
}

input[type="file"] {
    float: left;
    margin-right: 100%;
    width: 50%;
    margin-bottom: 5%;
    margin-left: 2%;
    font-size: 100%;
    width: 100%;
}

p[id="areaTexto"], p[id="errorLectura"] {
    margin-left: 10%;
}