body {
    width: 90%;
    margin: 5%;
    margin-top: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:white;
    background-size: 100%;
    background-attachment: fixed;
    text-align: center;
    min-width: 1000px;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    color: black;
    float: left;
    margin-bottom: 2%;
    margin-right: 105%;
}

h2 {
    text-transform: uppercase;
    text-align: left;
    color: black;
    font-size: large;
}

h3 {
    text-transform: uppercase;
    text-align: left;
    color: black;
    margin-top: 2%;
}

h4 {
    margin-top: 5%;
    text-transform: uppercase;
    text-align: left;
    color: black;
}

p {
    font-size: 125%;
    color: black;
    background-color: white;
    width: 100%;
    text-align: left;
    float: right;
}

footer {
    border-top: black 2px solid;
    margin-top: 10%;
    margin-bottom: 0%;
    padding: 2%;
    padding-top: 3%;
    text-align: left;
}

footer>a>img {
    height: 50px;
    width: 50px;
    margin-right: 2%;
}

h1 img {
    width: 500px;
}

hr {
    border-top: 2px solid black;
    margin-top: 5%;
    margin-bottom: 5%;
}

canvas {
    margin: auto;
    height: 500px;
    width: 500px;
    background-color: rgb(255, 255, 255);
    border: 5px solid black;
    margin-top: 4%;
}

div[id="controllers"] {
    float: left;
    text-align: left;
}

input {
    margin-top: 5%;
    margin-bottom: 10%;
    font-size: 125%;
}

select {
    margin-top: 5%;
    margin-bottom: 10%;
}

label {
    font-size: 125%;
    color: black;
    background-color: white;
    width: 100%;
    text-align: left;
}

option, select {
    font-size: 125%;
}