body {
    width: 90%;
    margin: 5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: lightgrey;
    text-align: center;
}

h1 {
    text-transform: uppercase;
    text-align: left;
    color: rgb(200, 160, 75);
    font-size: 75%;
    margin-bottom: 3%;
    margin-left: 2%;
}

footer {
    border-top: rgb(200, 160, 75) 2px solid;
    margin-top: 5%;
    padding: 2%;
    padding-top: 3%;
    text-align: left;
}

footer > a > img {
    height: 50px;
    width: 50px;
    margin-right: 2%;
}

input[type=button] {
    width: 19%;
    min-width: fit-content;
    height: auto;
    text-align: center;
    padding: 0;
    background-color: lightgray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: .5%;
    margin-bottom: 1%;
    border: 0px;
    border-radius: 5%;
    box-shadow: 0px 1px gray;
}

input[value="="] {
    background-color: rgb(200, 160, 75);
}

input[value="C"] {
    background-color: #ff7777;
}

input[value="SHIFT"] {
    background-color: #5368df;
}

input[value="LIGHT"] {
    background-color: #f2ffa1;
}

input[value="0"], input[value="1"], input[value="2"], input[value="3"], input[value="4"], input[value="5"], input[value="6"], input[value="7"], input[value="8"], input[value="9"]{
    background-color: white;
    border: 2px solid lightgray;
}

table {
    margin: auto;
    text-align: center;
}

input {
    background-color: white;
    font-family: monospace;
    color: black;
    padding-right: 3%;
    height: auto;
    width: 95%;
    min-height: 50px;
    text-align: right;
    margin: auto;
    margin-bottom: 2%;
}

div {
    display: inline-block;
    margin: auto;
    padding: 1%;
    background-color: white;
    height: fit-content;
    width: 40%;
    max-width: 80%;
    border-radius: 2%;
}

div div {
    min-width: 100%;
    display: table;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto;
    justify-content: center;
}

label {
    text-transform: uppercase;
    text-align: center;
    color: rgb(200, 160, 75);
    margin-bottom: 5%;
    font-size: small;
}