body {
    font: 400 15px Tahoma, sans-serif; /*Familia sans-serif*/
    line-height: 1.8;
    color: rgb(0, 0, 0);
    background-color: whitesmoke;
    padding-left: 50px;
    padding-right: 50px;
    width: 90%;
}
h1.title {
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    padding: 50px 25px;
    text-align: center;
    position: static;
    margin-top: 100px;
}
h2.title {
    color: rgb(0, 0, 0);
    padding: 50px 25px;
    text-align: center;
    position: static;
    margin-top: 60px;
}
table {
    text-align: left;
    border: 1px solid black;
    border-collapse: collapse;
}
th {
    background-color: gray;
    font-weight: bold;
    padding-right: 20px;
    padding-left: 10px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

td {
    background-color: lightgray;
    padding-right: 20px;
    padding-left: 10px;
    border-right: 1px solid black;
}

header {
    width: 100%;
    text-align: center;
    align-content: center;
    align-items: center;
    align-self: center;
}

footer {
    margin-top: 50px;
    padding: 20px;
    background-color: lightgray;
}

.incrustada {
    height: 300px;
    padding-right: 20px;
    padding-bottom: 10px;
    float: left;
}

.titulo {
    height: 300px;
    align-self: center;
}

a:link {
    color: midnightblue;
    text-decoration: none;
}

a:visited {
    color: midnightblue;
    text-decoration: none;
}

a:hover {
    color: sandybrown;
    text-decoration: underline;
}

nav {
    position: static;
}

nav {
    align-self: center;
    width: 100%;
    background-color: lightgray;
    float: left;
}

nav > a {
    list-style-type: none;
    width: 25%;
    float: left;
    text-align: center;
    font-size: large;
}

.protagonistas {
    width: 100%;
    text-align: center;
}

.protagonistasimg {
    height: 170px;
    width: 130px;
    margin: 20px;
}

.premios {
    width: 100%;
    text-align: left;
    position: static;

}