/*Especificidad: 1*/
table {
    width: 100%;
    text-align: center;
}

/*Especificidad: 1*/
th {
    text-align: center;
    background-color: lightgray;
}

/*Especificidad: 3*/
th > a > img {
    height: 140pt;
    width: 100pt;
    margin: 20px;
}