/*Especificidad: 1*/
table {
    font-size: 30px;
    width: 100%;
    text-align: left;
    position: static;
}
/*Especificidad: 1*/
th {
    color: #d3b795;
    background-color: #001514;
}
/*Especificidad: 1*/
td {
    color: #d3b795;
}