/*Especificidad: 1*/
table {
    width: 100%;
    text-align: center;
    table-layout:fixed;
}

/*Especificidad: 1*/
th {
    text-align: center;
    background-color: #001514;
}

/*Especificidad: 3*/
th > a > img {
    height: 140pt;
    width: 100pt;
    float: left;
    margin: 10%;
}

/*Especificidad: 3*/
th > a :hover {
    opacity: 50%;
}
