/*Especificidad: 1*/
body {
    font: 400 16px "Arial", Helvetica, sans-serif; /*Familia sans-serif*/
    line-height: 1.8;
    color: rgb(0, 0, 0);

    background-color: #001514;
    background-image: url(multimedia/bgDark.png);
    background-attachment: fixed;
    background-repeat: repeat;
}
/*Especificidad: 1*/
h1 {
    color: rgb(0, 0, 0);
    color: #B38A58;
    text-transform: uppercase;
}
/*Especificidad: 1*/
p {
    color: #DBC8A9;
}
/*Especificidad: 1*/
table {
    border: 2px solid #B38A58;
    border-collapse: collapse;
}
/*Especificidad: 1*/
th {
    font-weight: bold;
    border-bottom: 2px solid #B38A58;
    border-right: 2px solid #B38A58;
}
/*Especificidad: 1*/
td {
    background-color: #001514;
    border-right: 2px solid #B38A58;
}
/*Especificidad: 1*/
footer {
    background-color: #001514;
    border-top: #B38A58 2px solid;
}
/*Especificidad: 2*/
a:link {
    color: #d3b795;
    text-decoration: none;
}
/*Especificidad: 2*/
a:visited {
    color: #d3b795;
    text-decoration: none;
}
/*Especificidad: 2*/
a:hover {
    color: #ffa6b5;
    text-decoration: underline;
}
/*Especificidad: 1*/
nav {
    background-color: #001514;
    border-bottom: #B38A58 2px solid;
}
/*Especificidad: 2*/
nav > div > a {
    font-size: large;
}

/*Especificidad: 1*/
video {
    border: #B38A58 2px solid;
}