/*Especificidad: 1*/
table {
    width: 70%;
    height: 50%;
    table-layout: fixed;
    position: relative;
    margin: auto;
}

/*Especificidad: 1*/
th {
    text-align: center;
    background-color: #001514;
}

td {
    text-align: center;
}

/*Especificidad: 3*/
td > a > img {
    max-height: 11em;
    height: auto;
    width: auto;
    float: none;
    margin: 1em;
}

/*Especificidad: 3*/
t > a :hover{
    opacity: 60%;
}
