body {
    font: 400 15px Tahoma, sans-serif; /*Familia sans-serif*/
    line-height: 1.8;
    color: rgb(0, 0, 0);
    background-color: whitesmoke;
}

h1 {
    color: rgb(0, 0, 0);
    text-transform: uppercase;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
}

th {
    font-weight: bold;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

td {
    background-color: lightgray;
    border-right: 1px solid black;
}

footer {
    background-color: lightgray;
}

a:link {
    color: midnightblue;
    text-decoration: none;
}

a:visited {
    color: midnightblue;
    text-decoration: none;
}

a:hover {
    color: sandybrown;
    text-decoration: underline;
}

nav {
    background-color: lightgray;
}

nav > a {
    list-style-type: none;
    font-size: large;
}