/*Especificidad: 1*/
table {
    width: 100%;
    text-align: left;
    position: static;
}
/*Especificidad: 1*/
th {
    color: #B38A58;
    background-color: #001514;
}
/*Especificidad: 1*/
td {
    color: #B38A58;
}