body {
    width: 90%;
    margin: 5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #beb9ff;
    background-size: 100%;
    background-attachment: fixed;
    text-align: center;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    color: #08192e;
    margin: 5%;
}

h2 {
    text-transform: uppercase;
    text-align: left;
    color: #08192e;
}

h3 {
    text-transform: uppercase;
    text-align: left;
    color: #08192e;
}

h4 {
    margin-top: 5%;
    text-transform: uppercase;
    text-align: left;
    color: #08192e;
}

p {
    font-size: 90%;
    color: #1d3d64;
    width: 100%;
    margin: auto;
    text-align: left;
}

footer {
    border-top: #08192e 2px solid;
    margin-top: 10%;
    margin-bottom: 0%;
    padding: 2%;
    padding-top: 3%;
    text-align: left;
}

footer>a>img {
    height: 50px;
    width: 50px;
    margin-right: 2%;
}

h1 img {
    width: 30%;
    margin-left: 0%;
    margin-right: 80%;
}

hr {
    background-color: #08192e;
    border-top: #08192e 2px solid;
    margin-top: 5%;
}

input {
    min-width: fit-content;
    width: 10%;
    color: #08192e;
    font-size: medium;
}

div img {
    float: left;
    width: 7%;
}

p[id="temp"] {
    font-size: xx-large;
    font-weight: bolder;
    margin-left: 10%;
}

p[id="tempmin"] {
    color: rgb(0, 89, 255);
    margin-left: 10%;
    font-size: medium;
}

p[id="tempmax"] {
    color: rgb(255, 38, 38);
    margin-left: 10%;
    font-size: medium;
}

div {
    display: inline;
}